.first {
  display: flex;
  color: black;
  margin-left: 600px;
  gap: 8px;
  font-size: 20px;
  font-weight: 800;
}
.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
}
.navigation-container {
  display: flex;
  margin-left: 124px;
  color: blue;
  font-size: 22px;
  font-weight: 800;
  gap: 28px;
  cursor: pointer;
}
.week-container {
  display: flex;
  gap: 20px;
  margin-left: 610px;
  margin-top: 20px;
  font-size: large;
  font-weight: 400;
  color: black;
}
.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 40px;
  padding-top: 16px;
  width: 310px;
  margin-left: 610px;
}
.day {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.selectedDate {
  margin-left: 600px;
  font-size: 16px;
  font-weight: 800;
}
.selected {
  border: 2px solid blue;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.today {
  color: blue;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
